{% extends "base.html"%}

{% block content%}

{% for thread in threads%}
<ul role="list" class="divide-y divide-gray-200">
  <li class="relative bg-white py-5 px-4 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 hover:bg-gray-50">
    <div class="flex justify-between space-x-3">
      <div class="min-w-0 flex-1">
        <a href="#" class="block focus:outline-none">
          <span class="absolute inset-0" aria-hidden="true"></span>

          <p class="truncate text-sm font-medium text-gray-900">{{thread.title}}</p>
          <p class="text-sm text-gray-600 line-clamp-2">{{thread.description}}</p>

        </a>
      </div>
      <time datetime="2021-01-27T16:35" class="flex-shrink-0 whitespace-nowrap text-sm text-gray-500">1d ago</time>
    </div>
    <!-- <div class="mt-1">
      <p class="text-sm text-gray-600 line-clamp-2">{{i.description}}</p>
    </div> -->
  </li>


</ul>
{%endfor%}


{% endblock %}