{% extends "base.html" %}

{% block content %}
<header class="bg-white shadow">
  <div class="mx-auto max-w-7xl py-10 px-4 sm:px-6 lg:px-8">
    <h1 class="text-3xl font-bold tracking-tight text-gray-900">Topic</h1>
  </div>
</header>
<main>
  <div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
  {% for topic in object_list %}
  <div class="px-4 py-6 sm:px-0">
  <a href="{{ topic.get_absolute_url }}"><h2 class="text-3xl font-bold tracking-tight text-gray-900">{{ topic.title }}</h2>
    <p>{{topic.description}}</a></p>
    <p>Posted on: {{ topic.created.date }} </p>
    <p>created by : {{ topic.created_by }} </p>
  </div>
  {% endfor %}
</div>
</main>
{% endblock %}